<section id="rest-overview">

  <div class="page-header">
      <h1>Overview</h1>
  </div>
  
  <div class="row-fluid">
  <div class="span9">
  <p>
    The goal of the REST API is to provide access to all relevant interfaces of the engine.
  </p>
  
  <!--TODO: general remarks, for example, if null properties are included...-->
  <!--<p>
    General remarks such as authentication..
  </p>-->
  <h2>Structure</h2>
  <p>
    These documents explain all existing methods in the REST API. For each method they provide:
  </p>
  <ul>
    <li>An informal description</li>
    <li>HTTP verb and URL</li>
    <li>Possible query, path or message body parameters</li>
    <li>A detailed description of the response content</li>
    <li>Possible response codes</li>
    <li>A brief example request and response</li>
  </ul>
  
  <h2>Engine Usage</h2>
  <p>
    The methods as described work on the default process engine as given by the available <code>ProcessEngineProvider</code> serivce.
  </p>
  <p>
    You may prepend <code>/engine/{name}</code> to any of the methods (unless otherwise documented) to access another engine. <code>name</code> is the name of the process engine
    as returned by <code>ProcessEngine#getName()</code>.
  </p>
  
  <h2>Error Handling</h2>
  <p>
    For every method this documentation gives possible HTTP status codes. The error code explanations do not cover all
    possible error causes that may arise when the request is served. For example, most of the requests will not work properly if
    there are problems with database access. <br/>
    <br/>
    Any of these undocumented errors will be translated to a HTTP 500 error.
  </p>
  
  <h2>Authentication</h2>
  <p>
    For release <code>7.0.alpha1</code>, authentication is not part of the API yet. However, it is planned for the final release <code>7.0.0</code>.
  </p>
</section>