<section id="rest-overview">

  <div class="page-header">
      <h1>Overview</h1>
  </div>
  
  <div class="row-fluid">
  <div class="span9">
  <p>
    The goal of the REST API is to provide access to all relevant interfaces of the engine.
  </p>
  
  <!--TODO: general remarks, for example, if null properties are included...-->
  <p>
    General remarks such as authentication..
  </p>
  <p>
    These documents explain all existing methods in the REST API. For each method they provide:
  </p>
  <ul>
    <li>An informal description</li>
    <li>HTTP verb and URL</li>
    <li>Possible query, path or message body parameters</li>
    <li>A detailed description of the response content</li>
    <li>Possible response codes</li>
    <li>A brief example request and response</li>
  </ul>
</section>