<header class="hero-unit" id="overview">
  <div class="center">
    <h1>BPMN 2.0 Symbol Palette</h1>
    <h2>An Overview</h2>
  </div>
</header>
<div class="container">
	<!--<div tutorial="partials/design/tutorial.md" />-->
	<div class="row">
			
		<div class="span12"  >
			<style>
				.palette td {text-align:center}
				.paletteLabel {text-align:left !important;}
			</style>
			<table class="palette table table-striped table-condensed table-bordered">
				<tr>
					<td>Symbol</td><td colspan=2>BPMN 2.0 Conformance Class</td><td colspan=3>camunda BPM</td>
				</tr>
				<tr>
					<td></td><td>Process Modeling</td><td>Process Execution<td>modeler</td><td>renderer</td><td>engine</td>
				</tr>
				<tr>
					<td class="paletteLabel" colspan="6"><h4>Swimlanes</h4></td>
				<tr>
					<td class="paletteLabel">Pool</td><td></td><td></td><td><i class="icon-check"></td><td><i class="icon-check"></i></td><td></td>
				</tr>
				<tr>
					<td class="paletteLabel">Lane</td><td></td><td></td><td><i class="icon-check"></td><td><i class="icon-check"></i></td><td></td>
				</tr>
				<tr>
					<td class="paletteLabel" colspan="6"><h4>Activities</h4></td>
				<tr>
					<td class="paletteLabel">Task</td><td></td><td></td><td><i class="icon-check"></td><td><i class="icon-check"></i></td><td></td>
				</tr>
				<tr>
					<td class="paletteLabel">Usertask</td><td></td><td></td><td><i class="icon-check"></td><td></td><td></td>
				</tr>
				<tr>
					<td class="paletteLabel" colspan="6"><h4>Gateways</h4></td>
				<tr>
					<td class="paletteLabel">Exclusive</td><td></td><td></td><td><i class="icon-check"></td><td><i class="icon-check"></i></td><td></td>
				</tr>
				<tr>
					<td class="paletteLabel">Inclusive</td><td></td><td></td><td><i class="icon-check"></td><td></td><td></td>
				</tr>
				<tr>
					<td class="paletteLabel" colspan="6"><h4>Events</h4></td>
				<tr>
					<td class="paletteLabel">None: Start</td><td></td><td></td><td><i class="icon-check"></td><td><i class="icon-check"></i></td><td></td>
				</tr>
				<tr>
					<td class="paletteLabel">None: Intermediate</td><td></td><td></td><td><i class="icon-check"></td><td></td><td></td>
				</tr>

			</table>
		</div>
	</div>
</div>