<section id="event-overview">

  <div class="page-header">
      <h1>Event Overview</h1>
  </div>
  
  <div class="row-fluid">
  <div class="span9">
      <p>

        In BPMN there are Start events, intermediate events, and end events. Those three event types can be catching and/or throwing. Intermediate events might be used as boundary events on tasks, then they can be interrupting or non-interrupting. This gives you a lot of flexibility to use events in your processes.

        <div class="alert">
          <strong>Heads up!</strong> For understanding the principle behavior of events in BPMN we recommend to check out <a href="design-reference.html#/design/events/basics">Events: Basic Concepts</a>.
        </div>

        This following table gives you an overview of the events possible in BPMN 2.0 and the current coverage of the process engine. Only the organg

        <div class="label label-warning">Only the events merked in orange are currently supported. Hover over the element to see from which version on they are supported.</div>
      </p>
    </div>
    <div class="span3">
      <h3>On this page</h3>
      <ul>            
          <li>Event Overview</li>          
      </ul>
      <h3>There's more...</h3>
      <ul>            
          <li><a href="design-reference.html#/design/events/basics">Events in the BPMN Tutorial</a></li>
      </ul>      
    </div>
  </div>

  <p>

      <table class="table table-bordered bpmn-events">
        <tr>
          <td>Type</td><td colspan="3">Start</td><td colspan="4">Intermediate</td><td>End</td>
        </tr>
        <tr>
          <td></td><td>Normal</td><td>Event Subprocess</td><td>Event Subprocess<br/>non-interrupt</td><td>catch</td><td>boundary</td><td>boundary<br/>non-interrupt</td><td>throw</td><td></td></tr>
        </tr>
        <tr>
          <td class="eventName"><a href="#/events/none-events">None</a></td>
          <td>
            <div class="bpmnContainer" data-bpmn-symbol="startevent" >
              <div id="1" title="since 7.0">
          </div>    
            </div>
          </td>
          <td></td><td></td><td></td><td></td><td></td>
          <td>
            <div style="position:relative" data-bpmn-symbol="intermediateevent" >
              <div id="1" title="since 7.0">
            </div>
          </td>
          <td>
            <div style="position:relative" data-bpmn-symbol="endevent" >
              <div id="1" title="since 7.0">
            </div>
          </td>
        </tr>
        <tr>
          <td class="eventName"><a href="#/events/message-events"><b>Message</b></a></td>
          <td>
            <div class="bpmnContainer" data-bpmn-symbol="startevent/message" >
              <div id="1" title="since 7.0">
            </div>
          </td>
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="startevent/message" >
              <div id="1" title="since 7.0">
            </div>
          </td>
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="startevent/message-non" >
            </div>
          </td>         
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="intermediatecatchevent/message" >
            </div>
          </td>
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="intermediatecatchevent/message" >
              <div id="1" title="since 7.0">
            </div>
          </td>
          <td>
            <div class="bpmnContainer" data-bpmn-symbol="intermediatecatchevent/message-non" >
              <div id="1" title="since 7.0">
            </div>
          </td>
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="intermediatethrowevent/message" >
            </div>
          </td>
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="endevent/message" >
            </div>
          </td>
        </tr>
        <tr>
          <td class="eventName"><a href="#/events/timer-events"><b>Timer</b></a></td>
          <td>
            <div class="bpmnContainer" data-bpmn-symbol="startevent/timer" >
              <div id="1" title="since 7.0">
            </div>
          </td>
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="startevent/timer" >
            </div>
          </td>
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="startevent/timer-non" >
            </div>
          </td>         
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="intermediatecatchevent/timer" >
              <div id="1" title="since 7.0">
            </div>
          </td>
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="intermediatecatchevent/timer" >
              <div id="1" title="since 7.0">
            </div>
          </td>
          <td>
            <div class="bpmnContainer" data-bpmn-symbol="intermediatecatchevent/timer-non" >
              <div id="1" title="since 7.0">
            </div>
          </td>
        <td></td><td></td>
        </tr>
        <tr>
          <td class="eventName"><b>Conditional</b></td>
          <td>
            <div class="bpmnContainer" data-bpmn-symbol="startevent/conditional" >
            </div>
          </td>
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="startevent/conditional" >
            </div>
          </td>
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="startevent/conditional-non" >
            </div>
          </td>         
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="intermediatecatchevent/conditional" >
            </div>
          </td>
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="intermediatecatchevent/conditional" >
            </div>
          </td>
          <td>
            <div class="bpmnContainer" data-bpmn-symbol="intermediatecatchevent/conditional-non" >
            </div>
          </td>
        <td></td><td></td>
        </tr> 
        <tr>
          <td class="eventName"><b>Link</b></td>
          <td></td><td></td><td></td>       
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="intermediatecatchevent/link" >
            </div>
          </td>
          <td></td><td></td>
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="intermediatethrowevent/link" >
            </div>
          </td>
        <td></td>
        </tr>   
        <tr>
          <td class="eventName"><a href="#/events/signal-events"><b>Signal</b></a></td>
          <td>
            <div class="bpmnContainer" data-bpmn-symbol="startevent/signal" >
            </div>
          </td>
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="startevent/signal" >
            </div>
          </td>
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="startevent/signal-non" >
            </div>
          </td>         
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="intermediatecatchevent/signal" >
              <div id="1" title="since 7.0">
            </div>
          </td>
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="intermediatecatchevent/signal" >
              <div id="1" title="since 7.0">
            </div>
          </td>
          <td>
            <div class="bpmnContainer" data-bpmn-symbol="intermediatecatchevent/signal-non" >
              <div id="1" title="since 7.0">
            </div>
          </td>
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="intermediatethrowevent/signal" >
              <div id="1" title="since 7.0">
            </div>
          </td>
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="endevent/signal" >
            </div>
          </td>
        </tr>
        <tr>
          <td class="eventName"><a href="#/events/error-events"><b>Error</b></a></td>
          <td>
          </td>
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="startevent/error" >
              <div id="1" title="since 7.0">
            </div>
          </td>
          <td>
          </td>         
          <td>
          </td>
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="intermediatecatchevent/error" >
              <div id="1" title="since 7.0">
            </div>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="endevent/error" >
              <div id="1" title="since 7.0">
            </div>
          </td>
        </tr>
        <tr>
          <td class="eventName"><b>Escalation</b></td>
          <td>
          </td>
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="startevent/escalation" >
            </div>
          </td>
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="startevent/escalation-non" >
            </div>
          </td>         
          <td>
          </td>
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="intermediatecatchevent/escalation" >
            </div>
          </td>
          <td>
            <div class="bpmnContainer" data-bpmn-symbol="intermediatecatchevent/escalation-non" >
            </div>
          </td>
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="intermediatethrowevent/escalation" >
            </div>
          </td>
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="endevent/escalation" >
            </div>
          </td>
        </tr> 
        <tr>
          <td class="eventName"><b>Termination</b></td>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="endevent/terminate" >
            </div>
          </td>
        </tr> 
        <tr>
          <td class="eventName"><a href="#/events/cancel-and-compensation-events"><b>Compensation</b></a></td>
          <td></td>
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="startevent/compensate" >
            </div>
          </td>
          <td></td><td></td>
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="intermediatecatchevent/compensate" >
              <div id="1" title="since 7.0">
            </div>
          </td>
          <td></td>
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="intermediatethrowevent/compensate" >
            </div>
          </td>
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="endevent/compensate" >
            </div>
          </td>
        </tr>         
        <tr>
          <td class="eventName"><a href="#/events/cancel-and-compensation-events"><b>Cancel</b></a></td>
          <td></td><td></td><td></td><td></td>
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="startevent/cancel" >
              <div id="1" title="since 7.0">
            </div>
          </td>
          <td></td><td></td>
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="endevent/cancel" >
              <div id="1" title="since 7.0">
            </div>
          </td>
        </tr>         
          <td class="eventName"><b>Multiple</b></td>
          <td>
            <div class="bpmnContainer" data-bpmn-symbol="startevent/multiple" >
              <div id="1" title="since 7.0">
            </div>
          </td>
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="startevent/multiple" >
            </div>
          </td>
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="startevent/multiple-non" >
            </div>
          </td>         
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="intermediatecatchevent/multiple" >
              <div id="1" title="since 7.0">
            </div>
          </td>
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="intermediatecatchevent/multiple" >
              <div id="1" title="since 7.0">
            </div>
          </td>
          <td>
            <div class="bpmnContainer" data-bpmn-symbol="intermediatecatchevent/multiple-non" >
              <div id="1" title="since 7.0">
            </div>
          </td>
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="intermediatethrowevent/multiple" >
            </div>
          </td>
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="endevent/multiple" >
            </div>
          </td>
        </tr>
        <tr>
          <td class="eventName"><b>Multiple Parallel</b></td>
          <td>
            <div class="bpmnContainer" data-bpmn-symbol="startevent/multipleParallel" >
            </div>
          </td>
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="startevent/multipleParallel" >
            </div>
          </td>
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="startevent/multipleParallel-non" >
            </div>
          </td>         
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="intermediatecatchevent/multipleParallel" >

            </div>
          </td>
          <td>
            <div class="bpmnContainer"  data-bpmn-symbol="intermediatecatchevent/multipleParallel" >

            </div>
          </td>
          <td>
            <div class="bpmnContainer" data-bpmn-symbol="intermediatecatchevent/multipleParallel-non" >

            </div>
          </td>
          <td></td><td></td>
        </tr>       
      </table>

	
	</p>
	
</section>