<div class="hero-unit" ng-controller="HomeController">
<div class="row-fluid">
  <div class="span6">
    <h1> camunda BPM</h1>
    <h2>camunda is an open source BPM platform for Process Automation. Design and Implement your Business Processes using BPMN 2.0 and Java, and join our community of BPM enthusiasts today!</h2>
    <div class="center">
      <a class="btn btn-large" href="https://github.com/camunda/bpm-platform">
        <i class="icon-github-sign"></i> View on GitHub
      </a>
      
       <a class="btn btn-large btn-primary" href="http://fox.camunda.com/download/old/camunda-bpm-platform-tomcat7-7.0.0-SNAPSHOT.tar.gz">
        <i class="icon-download-alt icon-large"></i> Download
      </a>
    </div>


  </div>
  <div class="span6">
    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <img src="assets/img/modeler.png"/>
            <div class="carousel-caption">
              <div class="center">
                <p style="padding-top:10px;">
                  <a href="" class="btn btn-large">Design your Processes with BPMN 2.0 »</a>
                </p>
              </div>
            </div>            
          </div>          
          <div class="item">
            <img src="assets/img/application.png"/>
            <div class="carousel-caption">
              <div class="center">
                <p style="padding-top:10px;">
                  <a href="" class="btn btn-large">Implement powerful Process Applications »</a>
                </p>
              </div>
            </div>            

          </div>
          <div class="item">
            <img src="assets/img/community.jpg"/>
            <div class="carousel-caption">
              <div class="center">
                <p style="padding-top:10px;">
                  <a href="" class="btn btn-large">Mad about BPM? Join our Community »</a>
                </p>
              </div>
            </div> 
          </div>
        </div>
     
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>  
  </div>

</div>
</div>

<div class="row first">
      <div class="span4">
        <h1>A Flexible Platform</h1>
        <p>
          
        </p>
      </div>
      <div class="span4">
        <h1>For Everyone</h1>
        <p>
          
        </p>
      </div>
      <div class="span4">
        <h1>It's happening</h1>
        <p>
         <div class="tweet"></div>
        </p>
      </div>
    </div>

<section id="play">
    <div class="page-header">
      <h1>Play the Numberguessing Game</h1>
    </div>

  <div class="span12" ng-controller="NumberguessAppController">
    <!--<div id="continue-game">
      <a class="btn btn-warning continue-game" ng-show="showContinueButton()" ng-click="scrollTo('play')">
        <i class="icon-arrow-up"></i>Continue the Game
      </a>
    </div>-->
    <div style=" position:absolute">
      
      <div class="startButton" style="left:55px; top:120px; position:relative; z-index:3">
        <a class="btn btn-warning" ng-click="activateProcess('numberGuessing')">Begin</a>
      </div>

      <div id="StartEvent_1" style="position:relative; top:-150px; left:-32px; z-index:3; display:none;">
        <div class="popover top" style="display:block; width:250px">
            <div class="arrow"></div>
            <button type="button" class="close popover-title pull-right" ng-click="cancel()">×</button>
            <h3 class="popover-title">Start event</h3>        
            <div class="popover-content">
              <p> A <strong>Start Event</strong> allows you to define where a process starts.</p>              
              <p>If you click on the button below, a new process instance is started.</p>
              <p class="center padded row">
                 <a class="btn btn-warning" ng-click="signalNode('StartEvent_1')"><i class="icon-play"></i>Start</a>
              </p>              
            </div>
          </div>
      </div>

      <div id="ServiceTask_1" style="position:relative; top:-165px; left:65px; display:none; z-index:3">
        <div class="popover top" style="display:block; width:300px">
            <div class="arrow"></div>
            <button type="button" class="close popover-title pull-right" ng-click="cancel()">×</button>
            <h3 class="popover-title">Service Task</h3>        
            <div class="popover-content">
              <p> A <a href="#implementing-a-service-task">Service Task</a> executes some program function or routine.</p>              
              <p>This service task calls a method of a Java class that generates a random number.</p>
              <p class="center padded row">
                 <a class="btn btn-warning" ng-click="signalNode('ServiceTask_1')"><i class="icon-play"></i> continue</a>
              </p>              
            </div>
          </div>
      </div>

      <div id="ExclusiveGateway_1" style="position:relative; top:-150px; left:200px; display:none; z-index:3">
        <div class="popover top" style="display:block; width:300px">
            <div class="arrow"></div>
            <button type="button" class="close popover-title pull-right" ng-click="cancel()">×</button>
            <h3 class="popover-title">Exclusive Gateway</h3>        
            <div class="popover-content">
              <p> An <a href="#implementing-a-service-task">Exclusive Gateway</a> marks a decision point in a process.</p>              
              <p>This service task calls a method of a Java class that generates a random number.</p>
              <p class="center padded row">
                 <a class="btn btn-warning" ng-click="signalNode('ExclusiveGateway_1')"><i class="icon-play"></i> continue</a>
              </p>              
            </div>
          </div>
      </div>

      <div id="UserTask_1" style="position:relative; top:-250px; left:320px; display:none; z-index:3">
        <div class="popover top" style="display:block; width:300px">
            <div class="arrow"></div>
            <button type="button" class="close popover-title pull-right" ng-click="cancel()">×</button>
            <h3 class="popover-title">User Task</h3>        
            <div class="popover-content">
              <p> A <a href="#implementing-a-service-task">User Task</a> is performed by a human user. Usually it is associated with a Task Form that allows the user to provide some input</p>          
              <p>
                <div data-ng-show="hasProcessVariable('loopCount')">
                  <span data-ng-show="processVariables.guess &gt;processVariables.random">
                    Try a smaller number!
                  </span>
                  <span data-ng-show="processVariables.guess &lt; processVariables.random">
                    Try a larger number!
                  </span>
                </div>
                <form novalidate>
                  Your guess: 
                  <input type="text" ng-model="processVariables.guess"/> 
                </form>
              </p>                 
              <p class="center padded row">
                 <a class="btn btn-warning" ng-click="signalNode('UserTask_1')"><i class="icon-play"></i> continue</a>
              </p>              
            </div>
          </div>
      </div>

      <div id="ExclusiveGateway_2" style="position:relative; top:-150px; left:470px; display:none; z-index:3">
        <div class="popover top" style="display:block; width:300px">
            <div class="arrow"></div>
            <button type="button" class="close popover-title pull-right" ng-click="cancel()">×</button>
            <h3 class="popover-title">Exclusive Gateway</h3>        
            <div class="popover-content">
              <p> An <a href="#implementing-a-service-task">Exclusive Gateway</a> marks a decision point in a process.</p>              
              <p>This service task calls a method of a Java class that generates a random number.</p>
              <p class="center padded row">
                 <a class="btn btn-warning" ng-click="signalNode('ExclusiveGateway_2')"><i class="icon-play"></i> continue</a>
              </p>              
            </div>
          </div>
      </div>

      <div id="ServiceTask_2" style="position:relative; top:-130px; left:570px; display:none; z-index:3">
        <div class="popover top" style="display:block; width:300px">
            <div class="arrow"></div>
            <button type="button" class="close popover-title pull-right" ng-click="cancel()">×</button>
            <h3 class="popover-title">Service Task</h3>        
            <div class="popover-content">
              <p>Your last guess made it. Congratulations, you are a winner!</p>
              <p class="center padded row">
                 <a class="btn btn-warning" ng-click="signalNode('ServiceTask_2')"><i class="icon-play"></i> Continue</a>
              </p>              
            </div>
          </div>
      </div>

      <div id="EndEvent_1" style="position:relative; top:-130px; left:770px; display:none; z-index:3">
        <div class="popover top" style="display:block; width:300px">
            <div class="arrow"></div>
            <button type="button" class="close popover-title pull-right" ng-click="cancel()">×</button>
            <h3 class="popover-title">End Event</h3>        
            <div class="popover-content">
              <p>An End Event marks the end of a process</p>
              <p class="center padded row">
                 <a class="btn btn-warning" ng-click="signalNode('EndEvent_1')"><i class="icon-play"></i> Done</a>
              </p>              
            </div>
          </div>
      </div>

      <div id="animations" style="position:relative;" >
        
      </div>
     
    </div>

    <!--<img src="/process-engine-rest/process/numberGuessing/diagram" />-->
    <img src="assets/img/app/homepage/numberGuessing.png" />
    
  </section>

  <section id="setup" style="margin-top:280px">
    <div class="page-header">
      <h1 id="the-basics">1. Getting some setup</h1>
    </div>

    <div class="row example">
      <div class="span9">
        <p>
         A process application is an ordinary Java Web Application (deployed as a .WAR file) that includes BPMN 2.0 processes. 
         Assuming that you use apache maven as build tool, your process application could look like this:
        </p>
        <div class="app-source" app-source="Project-Layout pom.xml web.xml processes.xml" annotate="hello.annotation"></div>     
      </div>
      <div class="span3">
          <h3>Watch</h3>
          Watch as we setup this project in eclipse:

          <h3>There's more...</h3>
          <ul>
            <li><a href="">Documentation on Process Applications</a></li>
            <li><a href="">Java EE 6 Process Applications</a></li>
          </ul>          
      </div>          
    </div>
  </section>

  <section id="create-process-model">
   <div class="page-header">
      <h1>2. Creating a process model</h1>
   </div>
   <p>
    Here we show a 90 seconds Video with Jakob modeling the Process in Eclipse. 
   </p>
  </section>

  <section id="implementing-a-service-task">
   <div class="page-header">      
      <h1>3. Implementing a Service Task</h1>   
   </div>
   <div class="row example">
      <div class="span9">
        <p> 
          Service tasks allow you to call some piece of programming code from the process model. Most of the time you will implement service tasks using Java code. The Java code is able to communicate with the current process instance using the 
          <code>DelegateExecution</code> object.
        </p>
        <div class="app-source" app-source="GenerateRandomNumberDelegate.java Project-Layout-with-Service-Task" annotate="hello.annotation"></div>     
      </div>
      <div class="span3">      
        <h3>Watch</h3>
          Watch as we add this service task to the process:
        <h3>There's more...</h3>
        <ul>            
          <li><a href="">Documentation on Service Tasks</a></li>
          <li><a href="">Service Tasks with Spring and CDI</a></li>
          <li><a href="">Asynchronous Service Tasks</a></li>
          <li><a href="">Web Services</a></li>
          <li><a href="">Legacy Systems</a></li>
        </ul>        
          
      </div>                
    </div>
  </section>

  <section id="gateways">
   <div class="page-header">
      <h1>4. Adding Gateways and Conditions</h1>
   </div>
  
  </section>

  <section id="implementing-a-user-task">
   <div class="page-header">
      <h1>5. Implementing a User Task</h1>
   </div>
  
  </section>
 

<div class="bootstrap-code">
<!-- ============== Hello ============== -->
<script type="text/xml" id="Project-Layout">
  my-application/
  ├── src/
  │   └─ main/
  │      ├── java/
  │      ├── resources/        
  │      │   ├── META-INF/
  │      │   │   └── processes.xml
  │      │   └── oneTaskProcess.bpmn20.xml
  │      └─  webapp/
  │          └─  WEB-INF/
  │              └── web.xml
  └──  pom.xml
</script>


<!-- ======================================================= -->
<script type="text/xml" id="pom.xml">
<project xmlns="http://maven.apache.org/POM/4.0.0" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
  <modelVersion>4.0.0</modelVersion>

  <name>camunda bpm platform - examples - simple servlet process application</name>
  
  <groupId>org.camunda.bpm</groupId>
  <artifactId>simple-process-application</artifactId>
  <packaging>war</packaging>

  <dependencies>
    <dependency>
      <groupId>org.camunda.bpm</groupId>
      <artifactId>camunda-engine</artifactId>
      <version>7.0.0-SNAPSHOT</version>
      <scope>provided</scope>
    </dependency>
  </dependencies>

</project>
</script>

<!-- ======================================================= -->
<script type="text/xml" id="processes.xml">
<process-application 
  xmlns="http://www.camunda.org/schema/1.0/ProcessApplication" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <process-archive name="example">  
    <process-engine>default</process-engine>
    <properties>
      <property name="isScanningEnabled">true</property>
    </properties>
  </process-archive>

</process-application>
</script>

<!-- ======================================================= -->
<script type="text/xml" id="oneTaskProcess.bpmn20.xml">
<?xml version="1.0" encoding="UTF-8"?>
<definitions
  xmlns="http://www.omg.org/spec/BPMN/20100524/MODEL"
  xmlns:activiti="http://activiti.org/bpmn"
  targetNamespace="Examples">

  <process id="oneTaskProcess" name="The One Task Process">
  
    <startEvent id="theStart" />
    <sequenceFlow id="flow1" sourceRef="theStart" targetRef="theTask" />
    <userTask id="theTask" name="My User Task" />    
    <sequenceFlow id="flow2" sourceRef="theTask" targetRef="theEnd" />
    <endEvent id="theEnd" />
    
  </process>

</definitions>
</script>

<!-- ======================================================= -->
<script type="text/xml" id="web.xml">
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0"> 
    
  <listener>
    <listener-class>
      org.camunda.bpm.application.spi.servlet.ServletProcessApplication
    </listener-class>
  </listener>
    
</web-app>
</script>

<!-- ============== Hello ============== -->
<script type="text/xml" id="Project-Layout-with-Service-Task">
  my-application/
  ├── src/
  │   └─ main/
  │      ├── java/
  │      │   └── GenerateRandomNumberDelegate.java
  │      ├── resources/        
  │      │   ├── META-INF/
  │      │   │   └── processes.xml
  │      │   └── oneTaskProcess.bpmn20.xml
  │      └─  webapp/
  │          └─  WEB-INF/
  │              └── web.xml
  └──  pom.xml
</script>

<script type="text/xml" id="GenerateRandomNumberDelegate.java">
public class GenerateRandomNumberDelegate implements JavaDelegate {

  public void execute(DelegateExecution execution) throws Exception {
    
    Random random = new Random();
    int secretNumber = random.nextInt(100);
    
    execution.setVariable("secretNumber", secretNumber);
    
    System.out.println("Random number generated: "+secretNumber);
    
  }

}
</script>

<script type="text/xml" id="inputGuessTaskform.html">
<task-form>
  <input type="text" ng-model="processVariables.guess" />
</task-form>
<button type="submit" />
</script>

<!-- ======================================================= -->
<script type="text/ng-template" id="hello.annotation">
{ "Project-Layout":
  { "pom.xml": "Decriptor file required by apache maven. Maven is the de-facto standard for declarative dependency management in the Java World.", 
    "processes.xml": "Deployment descriptor for the Process Application deployment.",
    "web.xml": "Deployment Descriptor for Java Web Applications.",
    "oneTaskProcess.bpmn20.xml": "This is the BPMN 2.0 Process Definition!"
  },
 "pom.xml":
  { "war": "Process Applications are most commonly packaged as Java Web Applications (WAR files). Other deployment options are available. On the Java EE 6 platform, you can use plain JAR or advanced EAR deployments as well." ,
    "camunda-engine": "The process engine is the component responsible for picking up your BPMN 2.0 processes and executing them.",
    "provided": "The process engine can be either <ul><li>provided by the servlet container or</li><li>embedded inside your process application.</li></ul> <p />Here, we use a shared process engine that is provided by the servlet container."
  },
  "web.xml":
  { "ServletProcessApplication": "A Servlet Process Application is a process application running inside a Servlet Container like Apache Tomcat. The Servlet Process Application is bootrapped using a servlet listener. This means that when your application starts, all BPMN 2.0 processes are automatically picked up (as defined in your <code>processes.xml</code> file) and deployed to the process engine."
  },
  "processes.xml":
  {
    "process-archive": "A process archive collects a set of process definitions and performs a deployment to the process engine. Process definitions can either be listed explicitly or discovered automatically using scanning (see <code>isScanningEnabled</code> below). You can define multiple process archives in your processes.xml.",
    "default" : "You can define which process engine the process archive should be deployed to.",
    "isScanningEnabled" : "If set to true, your application is automatically scanned for process definitions."
  },
  "GenerateRandomNumberDelegate.java":
  { "JavaDelegate" : "The JavaDelegate interface is provided by the process engine and needs to be implemented by Java Service Tasks.",
    "DelegateExecution" : "The DelegateExecution object allows your class to communicate with the current process instance. It can be used for accessing and manipulating process variables.",
    "setVariable" : "Here, we create a new process variable named <code>secretNumber</code> and assign it a randomly generated number between 0 and 100. The value of the process variable will be available to all subsequently executed tasks in the process instance."

  },
  "Project-Layout-with-Service-Task":
  {
    "GenerateRandomNumberDelegate" : "The java class is added as a Java source file to the project. Now your project contains both Java Code and a BPMN 2.0 process that are deployed side-by-side."
  }

}
</script>
</div>
