<section id="concepts">

<div class="page-header">
      <h1>Basic Concepts</h1>
</div>


<p>

  <div class="alert">
    <strong>Under construction!</strong>
  </div>

  We currently work on improving the whole documentation. While doing this we will merge a lot of content from the <a href="https://app.camunda.com/confluence/display/foxUserGuide/Home">camunda fox user guide</a> to camunda.org. Please be patient with us - this while still take a while. In the meanwhile we will link the highlights from here.
</p>


<p>

  <div class="alert">
    <strong>The following documentaion refers to camunda fox 6.2 - the predecessor to camunda BPM 7.0! There are changes in the way we build process applications.</strong>
  </div>
<ul>
  <li><a href="/confluence/display/foxUserGuide/Development">Development</a></li>
  <li><a href="/confluence/display/foxUserGuide/What+is+a+Process+Application">What is a Process Application</a></li>
  <li><a href="/confluence/display/foxUserGuide/What+is+a+Process+Archive">What is a Process Archive</a></li>
  <li><a href="/confluence/display/foxUserGuide/Packaging+of+Process+Applications">Packaging of Process Applications</a></li>
  <li><a href="/confluence/display/foxUserGuide/Configuration+with+processes.xml">Configuration with processes.xml</a></li>
  <li><a href="/confluence/display/foxUserGuide/Using+Maven">Using Maven</a>
    <ul>
      <li><a href="/confluence/display/foxUserGuide/Develop+your+first+Maven+Process+Application">Develop your first Maven Process Application</a></li>
      <li><a href="/confluence/display/foxUserGuide/WAR+Process+Applications">WAR Process Applications</a></li>
      <li><a href="/confluence/display/foxUserGuide/Maven+configuration">Maven configuration</a></li>
      <li><a href="/confluence/display/foxUserGuide/Maven+Archetypes+for+Process+Applications">Maven Archetypes for Process Applications</a></li>
    </ul></li>
  <li><a href="/confluence/display/foxUserGuide/Spring+Applications">Spring Applications</a></li>
<ul>

</p>

</section>