<section id="event-overview">

  <div class="page-header">
      <h1>Event Overview</h1>
  </div>
  
  <div class="row-fluid">
  <div class="span9">
      <p>

        In BPMN there are Start events, intermediate events, and end events. Those three event types can be catching and/or throwing. Intermediate events might be used as boundary events on tasks, then they can be interrupting or non-interrupting. This gives you a lot of flexibility to use events in your processes.

        <div class="alert">
          <strong>Heads up!</strong> For understanding the principle behavior of events in BPMN we recommend to check out <a href="design-reference.html#/design/events/basics">Events: Basic Concepts</a>.
        </div>

        This following table gives you an overview of the events possible in BPMN 2.0 and the current coverage of the process engine. 

        <div class="label label-warning">Only the events merked in orange are currently supported. Hover over the element to see from which version on they are supported.</div>
      </p>
    </div>
    <div class="span3">
      <h3>On this page</h3>
      <ul>            
          <li>Event Overview</li>          
      </ul>
      <h3>There's more...</h3>
      <ul>            
          <li><a href="design-reference.html#/design/events/basics">Events in the BPMN Tutorial</a></li>
      </ul>      
    </div>
  </div>

	
</section>