<!DOCTYPE html>
<html lang="en">
  <head>
    <title>camunda.org - the camunda bpm community homepage</title>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="author" content="camunda.org community" />
        
    <!-- loads all stylesheets -->
    <link href="assets/css/loader.css" rel="stylesheet" />

    <!-- For IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
     
    <base app-base="" />
  </head>
  <body ng-controller="DefaultController" >

    <div class="wrapper">
      <!-- navigation -->
      <div data-ng-include=" 'templates/navigation.html' "></div>

<div class="container">

       <div class="row-fluid doc">

          <div class="span3">
            <form class="well form-search" section="design" ng-submit="submitForm()" ng-cloak>
              <div class="input-prepend dropdown search" ng-class="{ open: focused && bestMatch.rank > 0 && bestMatch.page != currentPage}">
                <span class="add-on">
                  <i class="icon-search"></i>
                </span>
                <input type="text" tabindex="1" accesskey="s" focused="focused" ng-change="updateSearch()" ng-model="search" placeholder="search the docs" />
                <ul class="dropdown-menu">
                  <li>
                    <a href="#{{ bestMatch.page.url }}">{{ bestMatch.page.shortName || bestMatch.page.name }}</a>
                  </li>
                </ul>
              </div>

              <div class="spacer"></div>

              <div ng-show="search">Filtered results:</div>

              <ul class="nav nav-list" ng-hide="categories.length">
                <li ng-repeat="page in pages" ng-class="navClass(page)">
                  <a href="#{{ page.url }}" tabindex="2">{{ page.name }}</a>
                </li>
              </ul>

              <ul class="nav nav-list well" ng-repeat="category in categories">
                <li class="nav-header module">
                  {{ category.name }}
                </li>

                <li ng-repeat="page in category.pages" ng-class="navClass(page)">
                  <a href="#{{ page.url }}" tabindex="2">{{ page.name }}</a>
                </li>
              </ul>
            </form>
          </div>

          <div class="span9"> 
            <div ng-include="currentPage.partialUrl" ng-cloak></div>
          </div>
        </div>
	
</div>
		
      <div class="push-down"><!-- // --></div> 
    </div>
    <!-- footer -->
    <footer class="footer">
      <div data-ng-include=" 'templates/footer.html' "></div>

      <!-- loads all javascript -->
	<script src="assets/js/loader.js"></script>  
    </footer>
  </body>
</html>