<section id="xxx">

  <div class="page-header">
      <h1>XXXXX</h1>
  </div>
  
  <div class="row-fluid">
  <div class="span9">
      <p>xxxx</p>

      <div id="service-task" style="position:relative" data-bpmn-src="implement/service-task" />

    </div>
    <div class="span3">
      <h3>On this page</h3>
      <ul>            
          <li>Service Task</li>
          <li><a href="#">Implementation</a></li>
      </ul>
      <h3>There's more...</h3>
      <ul>            
          <li><a href="tasks.html">Tasks in the BPMN Tutorial</a></li>
          <li><a href="implement-concepts.html#/concepts/error-handling">Error Handling</a></li>
      </ul>      
    </div>
  </div>
  
  <p>
  

  <div class="app-source" app-source-no-tabs="xxxx" ></div>
  <script type="text/xml" id="xxxx">
 
	</script>
	
	</p>
	
</section>