<section id="rest-process-definition-get">

  <div class="page-header">
      <h1>Get Start Form</h1>
  </div>
  <p>
    Retrieves the start form key of this process definition.
  </p>
  
  <h2>Method</h2>  
  <p>GET <code>/process-definition/{id}/startForm</code></p>
  
  <h2>Parameters</h2>  
  <h4>Path Parameters</h4>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>id</td>
      <td>The id of the process definition to retrieve the form key for</td>
    </tr>
  </table>
  
  <h2>Result</h2>  
  <p>
    A json object:
  </p>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>key</td>
      <td>String</td>
      <td>The form key to required to render a start form for the process definition.</td>
    </tr>
  </table>
  
  <h2>Response codes</h2>  
  <table class="table table-striped">
    <tr>
      <th>Code</th>
      <th>Media type</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>200</td>
      <td>application/json</td>
      <td>Request successful.</td>
    </tr>
  </table>
  
  <h2>Example</h2>
  <h4>Request</h4>
  <p>
    <!-- TODO: Insert a 'real' example -->
    GET <code>/process-definition/aProcessDefinitionId/startForm</code>
  </p>
  <h4>Response</h4>
  <div class="app-source" app-source-no-tabs="get-start-form-result"></div>
  <script type="application/json" id="get-start-form-result">
    {"key":"aStartFormKey"}
  </script>
     
</section>