<section id="rest-embeddability">

  <div class="page-header">
      <h1>Usage with a pre-built distribution</h1>
  </div>
  
  <div class="row-fluid">
  <div class="span9">
  <p>
    The REST API is included in camunda's pre-built distributions.
    It may be accessed via the context <code>/engine-rest</code> and uses the engines provided by the class <code>BpmPlatform</code>.
  </p>
  <p>
    The default process engine is available out of the box by accessing <code>/engine-rest/engine/default/{rest-methods}</code>
    or simply <code>/engine-rest/{rest-methods}</code>.
    Any other shared process engine, i.e. it is globally visible, that is created later is available through <code>/engine-rest/engine/{name}/{rest-methods}</code>
    without any further configuration.
  </p>
</section>