
@font-face { font-family: VolkswagenTS-Regular; src: url(VolkswagenTS-Regular.otf); }

/** 
 * loaded to remove angular template flicker on site load
 * @see http://docs.angularjs.org/api/ng.directive:ngCloak
*/
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

/* Prevent Modal Slide in, instead do a Fade in */
.modal.fade {
    -webkit-transition: opacity .2s linear, none;
    -moz-transition: opacity .2s linear, none;
    -ms-transition: opacity .2s linear, none;
    -o-transition: opacity .2s linear, none;
    transition: opacity .2s linear, none;
    top: 10%;
}

.camunda-icon {
  background-image: url(../img/camunda_icon.png);
  width: 74px;
  height: 74px;
  display: inline-block;
}

.header-icons {
  fill: #2f2f2f;
}

.community-menu a {
  color: #2f2f2f !important;
}

.community-menu .span4:hover {
  background-color: lightgrey;
}

.community-menu-invert a {
  color: #fff !important;
}

.community-menu-invert .span4:hover {
  background-color: grey;
}

.header-icons-invert {
  fill: white;
}

h1, h2, h3, h4 {
    font-family: 'VolkswagenTS-Regular';
    font-weight: normal;
}

.headline h2 {
   color: #333;
}

.headline {
  margin-top: 80px;
  margin-bottom: 60px;
  text-align: center;
}

a, a:visited {
  color: #B5152B;
  text-decoration: none;
}

a.btn-inverse, a.btn-primary, a.btn-success {  
  color: white;
}

.hero-unit h2 {
  padding-top: 1.5em;
  padding-bottom: 1em;
  margin: 0;
  font-size: 30px;
  color: #535353;
  font-weight: 300;
}

.padded {
  padding:10px;
}

.center {
  text-align: center;
}

.spacer {
  display: inline-block;
  width: 6em;
  height: 3em;
}

div.token {
    border: 8px solid green;
    border-radius: 50%;
    width: 10px; 
    height: 10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }


code.nocode {
  display: inline-block;
  background-color: #99c2ff;
  border: 1px solid #7699d1;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #223f7a;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #e1e1e8;
}

/** loading icon integration */
.icon-loading {
  background-image: url(../img/ajax-loader.gif);
  width: 16px; 
  height: 16px;
  line-height: 16px;
  background-position: 0px 0px;
}

/** help system */
.help-toggle {
  display: inline-block;
  margin-left: 5px;

  cursor: help;
  opacity: 0.6;
}

.help-toggle:hover {
  opacity: 1;
}
/** end help system */

/** utilities */
/** for image replacement */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
/** end utilities */

/**
 * shared style declarations
*/
html, body {
  height:100%;
  min-height: 100%;
}

.actions .btn {
  margin-bottom: 5px;
}

.breadcrumbs {
  margin-top: 60px;
}

@media (max-width: 979px) {
  .breadcrumbs {
    margin-top: 0px;
  }
}

@media (max-width: 480px) {
  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.footer {
padding-top: 2em;
background-color: #333;
color: white;
padding-bottom: 2em;
}
.wrapper {
  min-height: 100%;
  height: auto !important; /* ie7 fix */
  height: 100%;
  margin: 0 auto -43px;
}

.push-down {
  height: 60px;
}

/**
 * Logo styling
*/
.navbar .brand {
  display: block;
  float: left;

  width: 130px;
  height: 39px;
  padding: 0;
}

/**
 * form styling
*/
form input.ng-dirty.ng-invalid {
  background-color: #FFDEDE;
  color: #000;
}

input.ng-invalid-required {
  border-color: #f00;
}

.popover {
  width:300px;
}

section {
  padding-top: 30px;
}

.app-source {
  margin-top:20px;
}

#continue-game {
  right:10px;  
  top:50px;
  position:fixed;

}

.tweet_list a {
  color:lightblue !important;
}

.tweet_list .tweet_odd {
  background-color: #2f2f2f;
  color:white;
}

.tweet_list .tweet_even {
  background-color: #2f2f2f;
  color:white;
}

.carousel .item {
  height:362px;
}


/* =============================== */
/* FORM SEARCH */

.form-search .dropdown-menu {
  margin-left: 10px;
}

.form-search .code {
  font-family: monospace;
  font-weight: bold;
  font-size: 13px;
  color: black;
}

.form-search > ul.nav > li.module {
  background-color: #d3d3d3;
}

.form-search > ul.nav > li.section {
  background-color: #ebebeb;
  min-height: 14px;
}

.form-search > ul.nav > li.last {
  margin-bottom: 1em;
}

.form-search .spacer {
  display: block;
  height: 15px;
}

.form-search .search {
  width: auto;
}

.form-search input {
  width: auto;
}

.form-search .well {
  border-color: #d3d3d3;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 15px;
}

.form-search .well .nav-header {
  text-transform: none;
  margin-top: 0;
  margin-left: -15px;
  margin-right: -15px;
}

.form-search .well .nav-header a {
  text-transform: none;
  color: black;
}
.form-search .well .nav-header a:hover {
  background-color: inherit;
}

.form-search .well li {
  line-height: 16px;
}

.form-search .well .guide {
  float: right;
  padding-top: 0;
  color: gray;
}

.form-search .nav-list > li > a {
  padding: 4px 15px;
}

/* ----------------------------- */


.bs-docs-sidenav {
  width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

.doc {
  margin-top: 70px;
}

.doc-menu-group {
  border-color: dark-grey;
  border-width: 2px;
}

li.module {
background-color: #d3d3d3;
}

hr.soften {
  height: 1px;
  margin: 70px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.6), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.6), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.6), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.6), rgba(0,0,0,0));
  border: 0;
}

.tile-link:hover {
  border: 0px;
}


.container-tile {
  display: inline-block;
  width:135px;
  height:135px;
}

.container-as7 {
  background-image: url("/app/assets/img/as7-tile.png");
}

.container-as7-glow {
  background-image: url("/app/assets/img/as7-tile-glow.png");
}

.container-jvm {
  background-image: url("/app/assets/img/jvm-tile.png");
}

.container-jvm-glow {
  background-image: url("/app/assets/img/jvm-tile-glow.png");
}

.container-glassfish {
  background-image: url("/app/assets/img/glassfish-tile.png");
}

.container-glassfish-glow {
  background-image: url("/app/assets/img/glassfish-tile-glow.png");
}

.container-tomcat {
  background-image: url("/app/assets/img/tomcat-tile.png");
}

.container-tomcat-glow {
  background-image: url("/app/assets/img/tomcat-tile-glow.png");
}

.wrapper-dark {
  background-color:#2f2f2f;
}

.dark-selection {
  width:70%;
  margin: 0 auto;
  background-color:#f9f9f9;
  border-radius: 3px;
  border-width: 1px;
  border-color: #181b1f;
  -moz-box-shadow: 3px 3px 3px #222;
  -webkit-box-shadow: 3px 3px 3px #222;
  box-shadow: 3px 3px 3px #222;
  color:#333;
  padding:20px;
}

a.caret-before {
    padding-right:1px !important;
}
a.caret-after {
    padding-left:1px !important;
}

/**
 * Docs pages tweeks
 */

.form-search .dropdown-menu {
  left: 27px;
  margin: 0;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}

/** numberguess **/

.highlight-node {
  border:solid;
}

.quick-links {
  text-align: center;
  list-style: none;
  margin-top: 50px;
}

.quick-links > li {
  display: inline-block;
  margin: 0 1em;
  vertical-align: top;
}

.google-follow {
  color: white;
  /*font-family: 'Helvetica Neue', Arial, sans-serif;*/
  font-size: 11px;
  font-weight: bold;
}
