    <div class="input-prepend">
        <span class="add-on"><i class="icon-search"></i></span>
        <input class="span2" id="search_input" type="text" placeholder="BPMN Symbol" >
    </div>

        <ul class="nav nav-list bs-docs-sidenav" id="search_list">
    <li><a class="bpmnSymbolLink" href="#/design/participants/pool" ><i class="icon-chevron-right"></i> Pool</a></li>
    <li><a class="bpmnSymbolLink" href="#/design/participants/lanes" ><i class="icon-chevron-right"></i> Lane</a></li>
    <li><a class="bpmnSymbolLink" href="#/design/activities/tasks"  ><i class="icon-chevron-right"></i> Task</a></li>
    <li><a class="bpmnSymbolLink" href="#/design/activities/subprocess" ><i class="icon-chevron-right"></i> Subprocess</a></li> 
    <li><a class="bpmnSymbolLink" href="#/design/activities/callactivity" ><i class="icon-chevron-right"></i> Call Activity</a></li>        
    <li><a class="bpmnSymbolLink" href="#/design/activities/adhoc" ><i class="icon-chevron-right"></i> Adhoc Subprocess</a></li>            
    <li><a class="bpmnSymbolLink" href="#/design/activities/event" ><i class="icon-chevron-right"></i> Event Subprocess</a></li>                
    <li><a class="bpmnSymbolLink" href="#/design/gateways/xor" ><i class="icon-chevron-right"></i> Exclusive Gateway (XOR)</a></li>
    <li><a class="bpmnSymbolLink" href="#/design/gateways/and" ><i class="icon-chevron-right"></i> Parallel Gateway (AND)</a></li>
    <li><a class="bpmnSymbolLink" href="#/design/gateways/or" ><i class="icon-chevron-right"></i> Inclusive Gateway (OR)</a></li>
    <li><a class="bpmnSymbolLink" href="#/design/gateways/event" ><i class="icon-chevron-right"></i> Event based Gateway</a></li>
    <li><a class="bpmnSymbolLink" href="#/design/events/basics" ><i class="icon-chevron-right"></i> Event (Basic Concepts)</a></li>
    <li><a class="bpmnSymbolLink" href="#/design/events/message" ><i class="icon-chevron-right"></i> Message Event</a></li>    
    <li><a class="bpmnSymbolLink" href="#/design/events/timer" ><i class="icon-chevron-right"></i> Timer Event</a></li>        
    <li><a class="bpmnSymbolLink" href="#/design/events/error" ><i class="icon-chevron-right"></i> Error Event</a></li>            
    <li><a class="bpmnSymbolLink" href="#/design/events/conditional" ><i class="icon-chevron-right"></i> Conditional Event</a></li>                
    <li><a class="bpmnSymbolLink" href="#/design/events/signal" ><i class="icon-chevron-right"></i> Signal Event</a></li>                    
    <li><a class="bpmnSymbolLink" href="#/design/events/termination" ><i class="icon-chevron-right"></i> Termination Event</a></li>
    <li><a class="bpmnSymbolLink" href="#/design/events/link" ><i class="icon-chevron-right"></i> Link Event</a></li>                            
    <li><a class="bpmnSymbolLink" href="#/design/events/compensation" ><i class="icon-chevron-right"></i> Compensation Event</a></li>   
    <li><a class="bpmnSymbolLink" href="#/design/events/multiple" ><i class="icon-chevron-right"></i> Multiple Event</a></li>
    <li><a class="bpmnSymbolLink" href="#/design/events/parallel" ><i class="icon-chevron-right"></i> Parallel Event</a></li>
    <li><a class="bpmnSymbolLink" href="#/design/events/escalation" ><i class="icon-chevron-right"></i> Escalation Event</a></li>    
    <li><a class="bpmnSymbolLink" href="#/design/events/cancel" ><i class="icon-chevron-right"></i> Cancel Event</a></li>

</ul>
<script>
        $('#search_input').fastLiveFilter('#search_list');
</script>