 <!--  <div class="row breadcrumbs" ng-cloak>
          <div class="span12">
            <div>
              <ul class="breadcrumb">
                <li>
                  <a href="#/">Home</a> 
                </li>
                <li ng-repeat="breadCrumb in breadCrumbs">
                  <span class="divider">/</span> 
                  <a href="#{{breadCrumb.href}}">{{breadCrumb.name}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>-->