<style type="text/css">
	.container-footer a {color:lightblue;}
	.container-footer ul {list-style-type:square}

	
</style>
<div class="container container-footer"  >
	<p><a href="index.html">camunda.org</a> - created and maintained by <a href="http://www.camunda.com">camunda services GmbH</a> | This page is built with <a href="http://angularjs.org/">angularjs</a></p>
	<div class="row-fluid">
		<div class="span3">
			<h4>Design</h4>
			<ul>
				<li><a href="">Overview</a></li>
				<li><a href="">camunda Modeler</a></li>
				<li><a href="">camunda Cycle</a></li>
				<li><a href="">BPMN 2.0 Tutorial</a></li>				
				<li><a href="">BPMN 2.0 Symbol Reference</a></li>
			</ul>
		</div>
		<div class="span3">
			<h4>Implement</h4>
			<ul>
				<li><a href="">Overview</a></li>
				<li><a href="">Implementation Patterns</a></li>
				<li><a href="">BPMN 2.0 Reference</a></li>
				<li><a href="">REST API</a></li>
			</ul>
		</div>
		<div class="span3">
			<h4>Community</h4>
			<ul>
				<li><a href="">Overview</a></li>
				<li><a href="">Forum</a></li>
				<li><a href="">Meetings</a></li>
				<li><a href="">Users</a></li>
				<li><a href="">Vision</a></li>
				<li><a href="">How to Contribute</a></li>
				<li><a href="">Team</a></li>				
			</ul>
		</div>
		<div class="span3">
			<h4>Support</h4>
			<ul>
				<li><a href="">Overview</a></li>
				<li><a href="">Enterprise Edition</a></li>
				<li><a href="">Consulting</a></li>
				<li><a href="">Training</a></li>
			</ul>
		</div>

	</div>
 <span class="spacer"></span>	
</div>