<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- logo -->
      <a class="brand ir" href="index.html">
        camunda.org
      </a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <ul class="nav" ng-controller="NavigationController">
            <li ng-class="activeClass('/index.html')"><a href="index.html">Home</a></li>    
             <li class="dropdown" ng-class="activeClass('/gs-')">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Getting Started <b class="caret"></b></a>
              <ul class="dropdown-menu">   
                <li><a href="#">Why camunda?</a></li>              
                <li><a href="gs-setup.html">Setup</a></li>  
                <li><a href="#">Tutorial</a></li>  
                <li><a href="#">Case Studies</a></li>                        
              </ul>
            </li> 
<!--            <li ng-class="activeClass('/design-')"><a href="design-tutorial.html" >Design</a></li>-->


            <li class="dropdown" ng-class="activeClass('/design-')">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Design <b class="caret"></b></a>
              <ul class="dropdown-menu">                
              <li class="nav-header">BPMN 2.0 Modeler</li>      
              <li><a href="design-tutorial.html">Installation</a></li>  
			  <li><a href="design-tutorial.html">Creating BPMN 2.0 Diagrams</a></li>  
              <li class="divider"></li>    
			  <!--
              <li class="nav-header">BPMN 2.0 Best Practices</li>      
              <li><a href="design-tutorial.html">camunda Framework</a></li>  
			  <li><a href="design-tutorial.html">Modeling Guidelines</a></li>  
			  <li><a href="design-tutorial.html">Design Patterns</a></li>  			 
              <li class="divider"></li>    
			  -->
              <li class="nav-header">BPMN 2.0 Tutorial</li>      
              <li><a href="intro.html">Introduction</a></li>  
              <li><a href="tasks.html">Tasks, Gateways & Lanes</a></li>
			  <li><a href="events.html">Events</a></li>  
			  <li><a href="subprocesses.html">Subprocesses</a></li>  
			  <li><a href="collaborations.html">Collaboration Diagrams</a></li> 
              </ul>
            </li>
            <li class="dropdown" ng-class="activeClass('/implement-')">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Implement <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Overview</a></li>       
                <li><a href="#">Implementation Patterns</a></li>      
                <li class="divider"></li>    
                <li class="nav-header">Process Engine</li>
                <li><a href="implement-bpmn.html">BPMN 2.0 Reference</a></li>
                <li><a href="implement-concepts.html">Concepts</a></li>
                <li><a href="#">Java API</a></li> 
                <li><a href="#">REST API</a></li>
                <li class="nav-header">Programing Model</li>
                <li><a href="#">Spring &amp; CDI</a></li>    
                <li><a href="#">OSGi</a></li>  
                <li><a href="#">Java Script</a></li>    
              </ul>
            </li>  
            <li class="dropdown" ng-class="activeClass('/run-')">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Run <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Overview</a></li>
                <li><a href="#">Runtime Patterns</a></li>       
                <li class="divider"></li>    
                <li class="nav-header">Tasklist</li>  
                <li><a href="#">Human Task Management</a></li>
                <li class="nav-header">Cockpit</li>   
                <li><a href="#">Monitoring &amp; Operations</a></li>
              </ul>
            </li>        
            <li ng-class="activeClass('/community.html')"><a href="community.html">Community</a></li>
            <li><a href="http://www.camunda.com/fox/services/support/" style="color:red">Services</a></li>             
          </ul>
        </ul>
      </div>
    </div>
  </div>
</div>