<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- logo -->
      <a class="brand ir" href="index.html">
        camunda.org
      </a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <ul class="nav" ng-controller="NavigationController">
            <li ng-class="activeClass('/index.html')"><a href="index.html">Home</a></li>    
             <li class="dropdown" ng-class="activeClass('/gs-')">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Getting Started <b class="caret"></b></a>
              <ul class="dropdown-menu">   
                <li><a href="#">Why camunda?</a></li>              
                <li><a href="gs-setup.html">Setup</a></li>  
                <li><a href="#">Tutorial</a></li>  
                <li><a href="#">Case Studies</a></li>                        
              </ul>
            </li> 
            <li class="dropdown" ng-class="activeClass('/design-')">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Design <b class="caret"></b></a>
              <ul class="dropdown-menu">                
              <li><a href="design-tutorial.html">BPMN 2.0 Tutorial</a></li>  
                <li><a href="#">Best Practice Patterns</a></li>  
              <li><a href="design-palette.html">BPMN 2.0 Palette</a></li>  
				
<!--                <li class="divider"></li>    
                <li class="nav-header">BPMN 2.0 Modeler</li>           -->
               
              </ul>
            </li>
            <li class="dropdown" ng-class="activeClass('/implement-')">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Implement <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Overview</a></li>       
                <li><a href="#">Implementation Patterns</a></li>      
                <li class="divider"></li>    
                <li class="nav-header">Process Engine</li>
                <li><a href="#">BPMN 2.0 Implementation Reference</a></li>
                <li><a href="#">Java API</a></li>    
                <li><a href="#">REST API</a></li>  
                <li class="nav-header">Programing Model</li>
                <li><a href="#">Spring &amp; CDI</a></li>    
                <li><a href="#">OSGi</a></li>  
                <li><a href="#">Java Script</a></li>    
              </ul>
            </li>  
            <li class="dropdown" ng-class="activeClass('/run-')">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Run <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Overview</a></li>
                <li><a href="#">Runtime Patterns</a></li>       
                <li class="divider"></li>    
                <li class="nav-header">Tasklist</li>  
                <li><a href="#">Human Task Management</a></li>
                <li class="nav-header">Cockpit</li>   
                <li><a href="#">Monitoring &amp; Operations</a></li>
              </ul>
            </li>          
            <li ng-class="activeClass('/community-')"><a href="run.html">Community</a></li>
            <li><a href="http://www.camunda.com/fox/services/support/" style="color:red">Services</a></li>             
          </ul>
        </ul>
      </div>
    </div>
  </div>
</div>